/* Styling for Panel header */
.ant-collapse-header {
    font-family: 'Roboto' !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  
/* CSS class to make images responsive */
.responsive-image {
  width: 100%;  /* make width 100% to fill the container */
  height: auto;  /* maintain aspect ratio */
}


.ant-collapse-header {
  background-color: white;
}






