.hr-container {
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .hr-container h1 {
    color: #5D6465;
    font-family: 'Roboto', sans-serif;
  }
  
  .hr-container button {
    background-color: #F0ECEC;
    color: #5D6465;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .hr-container button:hover {
    background-color: #464F50;
  }
  