.account-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.account-container h1 {
  color: #5D6465;
  font-family: 'Roboto', sans-serif;
}

.account-container input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.account-container button {
  background-color: #5D6465;
  color: #F0ECEC;
  font-family: 'Roboto', sans-serif;
}

.account-container button:hover {
  background-color: #464F50;
}




