.progress-container {
    position: relative;
    max-width: 500px;
  }
  
  .elapsed-time-marker {
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #5D6465;
  }
  
  .label {
    font-size: 12px;
    color: #555;
  }
  