.custom-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px; /* Adjust padding as per your design */

  }

  
  #components-dropdown-demo-arrow .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
  }
  
  .bottom-icon {
    position: absolute;
    bottom: 30px;
    padding: 10px;
    text-align: center;
  }


.ant-layout-sider-trigger {
  background-color: white !important;
  color: black;
}



/* Add a hover effect to menu items */
.ant-menu-dark .ant-menu-item:hover {
  background-color: #5D6465;
}

.ant-menu-item.ant-menu-item-selected {
  background-color: #F0ECEC;
  color: #5D6465;
}







/* Override hover styles */
.ant-menu-horizontal:not(.ant-menu-dark) .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) .ant-menu-item-active {
  border-bottom-color: black !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) .ant-menu-item-selected {
  border-bottom-color: black !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) .ant-menu-item-selected a,
.ant-menu-horizontal:not(.ant-menu-dark) .ant-menu-item:hover a,
.ant-menu-horizontal:not(.ant-menu-dark) .ant-menu-item-active a {
  border-bottom-color: black !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
.ant-menu-light > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected::after,
.ant-menu-light > .ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected::after {
    border-bottom-color: black !important;
}











