.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  
  .icon {
    cursor: pointer;
    margin-left: 10px; /* Optional: to provide some space between the icons */
  }
  
  .icon:hover {
    color: #f0ecec; /* Optional: change color on hover, you can choose your own color */
  }
  